#blazers { background-color:#000; }
#bobcats { background-color:#ffc633; }
#bucks { background-color:#00471B; }
#bulls { background-color:#ce1141; }
#cavs { background-color:#860038; }
#celtics { background-color:#008348; }
#clippers { background-color:#ED174C; }
#grizzlies { background-color:#0F586C; }
#vangrizzlies { background-color:#00BDAD; }
#hawks { background-color: #E03A3E; }
#heat { background-color:#98002E; }
#hornets { background-color:#008CA8; }
#jazz { background-color:#002B5C; }
#kings { background-color:#724C9F; }
#knicks { background-color:#006BB6; }
#lakers { background-color:#FDB927; }
#magic { background-color:#007DC5; }
#mavs { background-color:#007DC5; }
#nets { background-color:#061922; }
#njnets { background-color:#666; }
#nuggets { background-color:#4fa8ff; }
#pacers { background-color:#FFC633; }
#pelicans { background-color:#002B5C; }
#pistons { background-color:#006BB6}
#raptors { background-color:#CE1141; }
#rockets { background-color:#CE1141; }
#sixers { background-color:#006BB6; }
#sonics { background-color:#054019; }
#spurs { background-color:#061922; }
#suns { background-color:#E56020; }
#thunder { background-color:#F05133; }
#wolves { background-color:#00A94F; }
#warriors { background-color:#FDB927; }
#wizards { background-color:#002566; }

#alt_blazers { background-color:#E03A3E; }
#alt_bobcats { background-color:#ffc633; }
#alt_bucks { background-color:#061922; }
#alt_bulls { background-color:#061922; }
#alt_cavs { background-color:#FDBB30; }
#alt_celtics { background-color:#008348; }
#alt_clippers { background-color:#006BB6; }
#alt_grizzlies { background-color:#23375b; }
#alt_vangrizzlies { background-color:#00BDAD; }
#alt_hawks { background-color: #C4D600; }
#alt_heat { background-color:#061922; }
#alt_hornets { background-color:#1D1160; }
#alt_jazz { background-color:#00471B; }
#alt_kings { background-color:#000000; }
#alt_knicks { background-color:#F58426; }
#alt_lakers { background-color:#552582; }
#alt_magic { background-color:#061922; }
#alt_mavs { background-color:#006A4E; }
#alt_nets { background-color:#061922; }
#alt_njnets { background-color:#061922; }
#alt_nuggets { background-color:#FDB927; }
#alt_pacers { background-color:#00275D; }
#alt_pelicans { background-color:#E31837; }
#alt_pistons { background-color:#ED174C}
#alt_raptors { background-color:#061922; }
#alt_rockets { background-color:#CE1141; }
#alt_sixers { background-color:#ED174C; }
#alt_sonics { background-color:#FFBD00; }
/*#alt_spurs { background-color:#BAC3C9; }*/
#alt_spurs { background-color:#061922; }
#alt_suns { background-color:#1D1160; }
#alt_thunder { background-color:#007DC3; }
#alt_wolves { background-color:#005083; }
#alt_warriors { background-color:#006BB6; }
#alt_wizards { background-color:#E31837; }